<div id='chooserTemplate' class='hide'>
  <div class='chooser-title hide'></div>
  <div class='chooser-panel'>
    <div class='chooser-left-panel'>
      <div class='scrolling-panel'>
        <div class='scrolling-panel-content'>
          <ul class='choices'></ul>
        </div>
      </div>
    </div>
    <div class='chooser-right-panel'></div>
  </div>
</div>

<div id='chooserPageTemplate' class='hide'>
  <div class='chooser-page'>
    <div class='chooser-frame'>
      <div class="chooser-target"></div>
      <div class='offset-panel-footer'>
        <div class='text'></div>
        <div class='action'><a href='#' class="button-primary chooser-accept">Accept</a></div>
      </div>
    </div>
  </div>
</div>
