<div id="inventoryTemplate" class='hide'>
  <div id="inventory">
    <div class='top-row frame'>
      <span class='label'>Food</span>
      <span class='value food'></span>
    </div>
    <div class='flex'>
      <div class='resource-frame frame'>
        <h2>Resources</h2>
        <div class='item-list resource-list'></div>
      </div>
      <div class='equipment-frame frame'>
        <h2>Equipment</h2>
        <div class='item-list equipment-list'></div>
      </div>
    </div>
  </div>
</div>
