<div id='locationTemplate' class='hide'>
  <div class='location-menu'>
    <a href='#' class='menu-show-save'>Save</a>
    <a href='#' class='menu-show-load'>Load</a>
    <a href='#' class='send-command' data-command='game.quick-save'>Quick Save</a>
    <a href='#' class='send-command' data-command='game.quick-load'>Quick Load</a>
    <a href='#' class='send-command' data-command='game.quit'>Quit</a>
    <a href='#' class='menu-show-map hide'>Map</a>
    <a href='#' class='menu-show-minions'>Minions</a>
    <a href='#' class='menu-show-inventory'>Inventory</a>
  </div>

  <div class='location'>

    <div class='location-info'>
      <div class='header'>
        <span class='location-name'></span>
        <span class='date'></span>
      </div>
      <div class='location-description'></div>
    </div>

    <div class='location-actions'>
      <a href='#' class='active-event-notification send-command button-primary hide' data-command='game.start-location-event'>(!) Event</a>
      <a href='#' class='send-command create-plan-action button-primary hide' data-command='game.open-plan-view'>Create Today's Plan</a>
    </div>

    <div id='debug' class='big-margin font-mono'>
      <dl id='debugFlags'></dl>
    </div>
  </div>
</div>
