<div id='locationTemplate' class='hide'>
  <div class='location-actions'>
    <!-- <a href='#'>Map</a> -->
    <!-- <a href='#'>Minions</a> -->

    <a href='#' class='menu-show-save'>Save</a>
    <a href='#' class='menu-show-load'>Load</a>
    <a href='#' class='menu-quit-game' data-command='game.quit'>Quit</a>
    <a href='#' class='send-command' data-command='game.quick-save'>Q.Save</a>
    <a href='#' class='send-command' data-command='game.quick-load'>Q.Load</a>

  </div>
  <div class='location'>
    <h1 class='location-name'></h1>
    <div class='location-description'></div>
  </div>
</div>
