<div id="mainMenuTemplate" class='hide'>
  <div id="mainMenu">
    <div style="width:190px; margin:20px 10px;">
      <h1 class='border-heavy-bottom'>Artificer</h1>
      <ul>
        <li><a href='#' class='send-command' data-command='game.start'>Start New Game</a></li>
        <li><a href='#' class='send-command debug-game-start hide' data-command='game.debug-start'>Start New Game (Debug)</a></li>
        <li><a href='#' class='menu-show-load' >Load Game</a></li>
      </ul>
    </div>
  </div>
</div>
