<div id="mainMenuTemplate" class='hide'>
  <div id="mainMenu">

    <div class='left-side'>
      <div class='commands'>
        <h1>Artificer</h1>
        <h3 class='border-heavy-bottom'>
          The Annals of Rhysh, Book 1
        </h3>
        <div class='dev version'>Dev Build, Version 0.2.0</div>

        <ul class='big-margin-top button-list'>
          <li><a href='#' class='button button-primary send-command' data-command='game.start'>Start New Game</a></li>
          <li><a href='#' class='button button-primary send-command debug-game-start hide' data-command='game.debug-start'>Start New Game (Debug)</a></li>
          <li><a href='#' class='button button-primary menu-show-load' >Load Game</a></li>
        </ul>
      </div>

      <div class='notes'>
        <p>
          This is a super early development build with many bugs and hardly any content. The game is in a mostly playable
          state at least, but expect much more content in the future. If you want to support the game follow my
          <a href="https://maldrasen.blogspot.com" target='_blank'>development blog</a> and if you like, toss a coin into
          one of these tip jars.
        </p>
        <ul class='big-margin'>
          <li><a href="https://ko-fi.com/maldrasen" target='_blank'>Kofi</a></li>
          <li><a href="https://www.buymeacoffee.com/izKO5Q1" target='_blank'>Buy me a Coffee</a></li>
        </ul>
        <p class='align-right fs-big'>
          &mdash; Maldrasen
        </p>
      </div>
    </div>

    <div class='main-image'></div>

  </div>
</div>
