<div id='manageTemplate' class='hide'>
  <div class='medium-centered-area panel'>
    <div id='nameOptions' class='fs-big'>
      I am the <span class='player-title fg-strong'></span> of <span class='keep-name fg-strong'></span>.
    </div>
    <div class='align-right'>
      <a href='#' class='change-names-button button-small button-primary'>Change</a>
    </div>
  </div>
</div>

<div id='manageChangeNamesDialogTemplate' class='hide'>
  <div class='inline-fields'>
    <div class='field-row'>
      <label>Title</label>
      <input id='title' type='text' class='short'/>
    </div>
    <div class='field-row'>
      <label>Keep Name</label>
      <input id='keepName' type='text' class='short'/>
    </div>
  </div>
  <div class='align-right'>
    <a href='#' class='accept-names-button button-small button-primary'>Accept</a>
  </div>
</div>
