<div id='minionSelectDialogTemplate hide'>
  <!-- <div class='minion-select-frame hide'>
    <div class='minion-select-panel'>
      <div class='status margin padding-bottom border-light-bottom'></div>
      <div class='minion-select-area'>
        <h2>Available Minions</h2>
        <ul class='minions'></ul>
      </div>
      <div class='minion-select-footer'>
        <div class='actions'>
          <a href='#' class='minion-select-cancel button'>Cancel</a>
          <a href='#' class='minion-select-confirm button-primary'>Confirm</a>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class='modal-cover hide'></div> -->
</div>
