<div id='minionSelectDialog' class='hide'>
  <div class='minion-select-panel'>
    <div class='minion-select-title'>
      <h2 class='title'></h2>
    </div>

    <div class='status margin padding-bottom border-light-bottom hide'></div>
    <ul class='minions'></ul>

    <div class='minion-select-footer'>
      <div class='actions'>
        <a href='#' class='minion-select-cancel button'>Cancel</a>
        <a href='#' class='minion-select-confirm button-primary'>Confirm</a>
      </div>
    </div>
  </div>
</div>

<div id='minionSelectCover' class='hide'></div>
