<div id="minionDetailTemplate" class='hide'>
  <div class='character-view minion-detail-view'>
    <div class='portrait-frame'></div>

    <div class='actions-frame'>
      <ul>
        <li><a href='#' class='rename-minion button hide'>Rename Minion</a></li>
      </ul>
    </div>

    <div class='info-frame'>
      <div class='scrolling-panel track-parent'>
        <div class='scrolling-panel-content'>
          <div class='info-content'>

            <div class='top-row'>
              <div class='section health-section'>
                <div class='attr health-word'></div>
                <div class='attr health-value'></div>
              </div>
              <div class='section name-section'>
                <h2 class='name'></h2>
                <div class='attr gender'></div>
                <div class='attr species'></div>
              </div>
            </div>

            <div class='list-row'>
              <dl class='attributes'>
                <dt class='physical'>Physical</dt>
                <dd class='physical'>
                  <span class='value'></span>
                  <span class='word'></span>
                </dd>

                <dt class='personal'>Personal</dt>
                <dd class='personal'>
                  <span class='value'></span>
                  <span class='word'></span>
                </dd>

                <dt class='mental'>Mental</dt>
                <dd class='mental'>
                  <span class='value'></span>
                  <span class='word'></span>
                </dd>

                <dt class='magical'>Magical</dt>
                <dd class='magical margin-bottom'>
                  <span class='value'></span>
                  <span class='word'></span>
                </dd>

                <dt class='loyalty'>Loyalty</dt>
                <dd class='loyalty'>
                  <span class='value'></span>
                  <span class='word'></span>
                </dd>

                <dt class='fear'>Fear</dt>
                <dd class='fear'>
                  <span class='value'></span>
                  <span class='word'></span>
                </dd>

              </dl>
              <dl class='aspect-list skill-aspects'></dl>
              <dl class='aspect-list personality-aspects'></dl>
              <dl class='aspect-list sexual-aspects'></dl>
            </div>

            <div class='description-row'></div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
