<div id='planTemplate' class='hide'>

  <div class='projects'>
    <div class='current-frame'>
      <h2>Currently Working On</h2>
      <div class='current-project'></div>
      <div class='current-progress'></div>
    </div>
    <div class='lower-frame'>
      <div class='available-projects'>
        <h2>Available</h2>
      </div>
      <div class='selected-project'></div>
    </div>
  </div>

  <div class='minion-select-frame'>
    <div class='minion-select-panel'>
      Minion Select
    </div>
  </div>

  <div class='modal-cover'>
  </div>

</div>
