<div id='planTemplate' class='hide'>

  <div class='plan-left-panel'>
  </div>

  <!-- <div class='projects'>
    <div class='current-frame'>
      <h2>Currently Working On</h2>
      <div class='current-project'></div>
      <div class='current-progress'></div>
    </div>
    <div class='lower-frame'>
      <div class='available-projects'>
        <h2>Available</h2>
      </div>
      <div class='selected-project'></div>
    </div>
  </div> -->

  <div class='plan-minion-list'></div>

  <!-- <div class='minion-select-frame hide'>
    <div class='minion-select-panel'>
      <div class='status margin padding-bottom border-light-bottom'></div>
      <div class='minion-select-area'>
        <h2>Available Minions</h2>
        <ul class='minions'></ul>
      </div>
      <div class='minion-select-footer'>
        <div class='actions'>
          <a href='#' class='minion-select-cancel button'>Cancel</a>
          <a href='#' class='minion-select-confirm button-primary'>Confirm</a>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class='modal-cover hide'></div> -->

  <div class='plan-footer'>
    <a href='#' class='plan-cancel button'>Cancel</a>
    <a href='#' class='plan-confirm button-primary'>Confirm</a>
  </div>
</div>
