<div id='reportTemplate' class='hide'>
  <div class='body'>
    <div class='scrolling-panel track-parent'>
      <div class='scrolling-panel-content padding big-padding-right'>

        <div class='projects hide'>
          <h2>Projects</h2>
          <div class='text'></div>
        </div>

        <div class='tasks hide'>
          <h2>Tasks</h2>
          <ul class='task-stories'></ul>
        </div>

        <div class='minions hide'>
          <ul class='minion-list'></ul>
        </div>

        <div class='food hide'></div>
      </div>
    </div>
    <div class='footer'>
      <a href='#' class='send-command button-primary' data-command='resolver.start-after-work'>Continue</a>
    </div>
  </div>
</div>
