<div id='reportTemplate' class='hide'>
  <div class='body'>
    <div class='scrolling-panel track-parent'>
      <div class='scrolling-panel-content padding big-padding-right'>

        <div class='projects panel big-margin hide'>
          <h2 class='border-light-bottom margin-bottom'>Projects</h2>
          <div class='text'></div>
        </div>

        <div class='tasks panel big-margin hide'>
          <h2 class='border-light-bottom margin-bottom'>Tasks</h2>
          <dl class='task-stories'></dl>
        </div>

        <ul class='minion-list hide'></ul>

        <ul class='incidentals panel big-margin hide'></ul>
        <div class='food hide'></div>
      </div>
    </div>
    <div class='footer'>
      <a href='#' class='continue-button send-command button-primary'>Continue</a>
    </div>
  </div>
</div>

<div id='reportRowTemplate' class='hide'>
  <div class='portrait-frame'></div>
  <div class='top-row'><div class='minion-name'></div></div>
  <div class='story-row'><div class='story'></div></div>
  <div class='lower-row flex hide'></div>
</div>
