<div id='reportTemplate' class='hide'>
  <div class='report-frame'>
    <div class='scrolling-panel track-parent'>
      <div class='scrolling-panel-content padding'>
        <div class='projects'>
          <h2>Projects</h2>
          <div class='text'></div>
        </div>
        <div class='minions'>
          <h2>Minions</h2>
          <ul class='minion-list'></ul>
        </div>
      </div>
    </div>
    <div class='footer'>
      <a href='#' class='send-command button-primary' data-command='resolver.start-day'>Continue</a>
    </div>
  </div>
  <div class='full-screen-background' style='background-image:url("../../resources/reports/bg-report-temp.png");'></div>
</div>
