<div id='settingsDialogTemplate' class='hide'>

  <dl class='setting-list'>
    <dt>Measurements</dt>
    <dd><div class='radio-buttons metric'><a class='radio-button' data-value='false'>American</a><a class='radio-button' data-value='true'>Metric</a></div></dd>
    <dt>Futa Pronouns</dt>
    <dd><div class='radio-buttons futa-pronouns'><a class='radio-button' data-value='shi/hir'>Shi / Hir</a><a class='radio-button' data-value='she/her'>She / Her</a></div></dd>
  </dl>

  <div class='actions'>
    <a href='#' class='button-primary accept-settings'>Accept</a>
  </div>

</div>
