<div id='trainingPlanTemplate' class='hide'>
  <div id='trainingPlan'>
    <ul class='main-area'></ul>
    <div class='bottom-area'></div>
  </div>
</div>

<div id='trainingMinionPlanTemplate' class='hide'>
  <div class='minion-plan'>
    <div class='top-row'>
      <div class='minion-select'>
        Minion Select
      </div>
      <div class='tab-row'>
        <a href='#' class='tab' data-tab='.physical-tab'>Physical</a>
        <a href='#' class='tab' data-tab='.mental-tab'>Mental</a>
        <a href='#' class='tab' data-tab='.sexual-tab'>Sexual</a>
        <a href='#' class='tab' data-tab='.platonic-tab'>Platonic</a>
      </div>
    </div>
    <div class='tab-container'>
      <div class='physical-tab' class='hide'>Physical</div>
      <div class='mental-tab' class='hide'>Mental</div>
      <div class='sexual-tab' class='hide'>Sexual</div>
      <div class='platonic-tab' class='hide'>Platonic</div>
    </div>
  </div>
</div>
