<div id='trainingReportTemplate' class='hide'>
  <div class='body'>
    <div class='scrolling-panel track-parent'>
      <div class='scrolling-panel-content padding big-padding-right'>
        <div class='results'></div>
      </div>
    </div>
    <div class='footer'>
      <a href='#' class='send-command button-primary' data-command='game.cancel'>Continue</a>
    </div>
  </div>
</div>

<div id='trainingReportResultTemplate' class='hide'>
  <div class='header'><div class='name'></div></div>
  <div class='story'></div>
  <div class='experience hide'>
    <div class='title'><span class='character-name'></span> Sexual Experience</div>
   <div class='badges'></div>
  </div>
</div>
