<div id='characterAspectsTemplate' class='hide'>
  <dl class='attributes'>
    <div class='attributes-title'>Attributes</div>

    <dt class='physical'>Physical</dt>
    <dd class='physical'>
      <span class='value'></span>
      <span class='word'></span>
    </dd>

    <dt class='personal'>Personal</dt>
    <dd class='personal'>
      <span class='value'></span>
      <span class='word'></span>
    </dd>

    <dt class='mental'>Mental</dt>
    <dd class='mental'>
      <span class='value'></span>
      <span class='word'></span>
    </dd>

    <dt class='magical'>Magical</dt>
    <dd class='magical margin-bottom'>
      <span class='value'></span>
      <span class='word'></span>
    </dd>

    <dt class='loyalty hide'>Loyalty</dt>
    <dd class='loyalty hide'>
      <span class='value'></span>
      <span class='word'></span>
    </dd>

    <dt class='fear hide'>Fear</dt>
    <dd class='fear hide'>
      <span class='value'></span>
      <span class='word'></span>
    </dd>

    <dt class='lust hide'>Lust</dt>
    <dd class='lust hide'>
      <span class='value'></span>
      <span class='word'></span>
    </dd>
  </dl>

  <div class='aspect-list skill-aspects hide'>
    <div class='attributes-title'>Skills</div>
    <dl></dl>
  </div>

  <div class='aspect-list personality-aspects hide'>
    <div class='attributes-title'>Personality Aspects</div>
    <dl></dl>
  </div>

  <div class='aspect-list sexual-aspects hide'>
    <div class='attributes-title'>Sexual Aspects</div>
    <dl></dl>
  </div>

</div>
