<div id='minionFrameTemplate' class='hide'>
  <div class='minion-frame'>
    <div class='portrait-frame'></div>
    <div class='top-row'>
      <div class='section name-section'>
        <h2 class='name'></h2>
        <div class='attr gender'></div>
        <div class='attr species'></div>
      </div>
      <div class='section health-section'>
        <div class='attr health-word'></div>
        <div class='attr health-value'></div>
      </div>
    </div>
    <div class='lower-row'>
      <dl class='attributes attributes-inline'>
        <dt class='physical'>Physical</dt> <dd class='physical'></dd>
        <dt class='personal'>Personal</dt> <dd class='personal'></dd>
        <dt class='mental'>Mental</dt>     <dd class='mental'></dd>
        <dt class='magical'>Magical</dt>   <dd class='magical'></dd>
      </dl>
    </div>
  </div>
</div>
