<div id='renameMinionDialogTemplate' class='hide'>
  <div id='renameMinionDialog'>
    <div class='big-margin'>
      <span class='orig-name'></span> is a terrible name. From now on I will call them&hellip;
    </div>

    <div class='big-margin align-center'>
      <label class='margin-right'>Name</label>
      <input class='name-field' name='name' type='text'></input>
    </div>

    <div class='align-right'>
      <a href='#' class='button button-primary accept-name-button'>OK</a>
    </div>
  </div>
</div>
