<div id='standardDialogTemplate' class='hide'>
  <div class='dialog-cover big-dialog'>
    <div class='dialog-header'>
      <a href='#' class='close-dialog'>X</a>
      <span class='title'></span>
    </div>
    <div class='dialog-frame scrolling-panel-parent'>
      <div class='scrolling-panel track-parent'>
        <div class='scrolling-panel-content'>
          <div class='dialog-content'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='mediumDialogTemplate' class='hide'>
  <div class='dialog-cover medium-dialog'>
    <div class='dialog-header'>
      <a href='#' class='close-dialog'>X</a>
      <span class='title'></span>
    </div>
    <div class='dialog-frame scrolling-panel-parent'>
      <div class='scrolling-panel track-parent'>
        <div class='scrolling-panel-content'>
          <div class='dialog-content'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='simpleDialogTemplate' class='hide'>
  <div class='dialog-cover big-dialog'>
    <div class='dialog-header'>
      <a href='#' class='close-dialog'>X</a>
      <span class='title'></span>
    </div>
    <div class='dialog-frame'>
      <div class='dialog-content'></div>
    </div>
  </div>
</div>

<div id='smallDialogTemplate' class='hide'>
  <div class='dialog-cover small-dialog'>
    <div class='dialog-header'>
      <a href='#' class='close-dialog'>X</a>
      <span class='title'></span>
    </div>
    <div class='dialog-frame'>
      <div class='dialog-content'></div>
    </div>
  </div>
</div>
