
@font-face {
  font-family: cardo-bold;
  src: url("../assets/fonts/Cardo/Cardo-Bold.ttf");
}

@font-face {
  font-family: cardo-italic;
  src: url("../assets/fonts/Cardo/Cardo-Italic.ttf");
}

@font-face {
  font-family: cardo-regular;
  src: url("../assets/fonts/Cardo/Cardo-Regular.ttf");
}

@font-face {
  font-family: roboto-black;
  src: url("../assets/fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: roboto-bold;
  src: url("../assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: roboto-medium;
  src: url("../assets/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: roboto-medium-italic;
  src: url("../assets/fonts/Roboto/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: roboto-regular-italic;
  src: url("../assets/fonts/Roboto/Roboto-RegularItalic.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-light;
  src: url("../assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: roboto-thin;
  src: url("../assets/fonts/Roboto/Roboto-Thin.ttf");
}

@font-face {
  font-family: roboto-mono-bold;
  src: url("../assets/fonts/Roboto/RobotoMono-Bold.ttf");
}

@font-face {
  font-family: roboto-mono-medium;
  src: url("../assets/fonts/Roboto/RobotoMono-Medium.ttf");
}

@font-face {
  font-family: roboto-mono;
  src: url("../assets/fonts/Roboto/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: roboto-mono-light;
  src: url("../assets/fonts/Roboto/RobotoMono-Light.ttf");
}

@font-face {
  font-family: roboto-mono-thin;
  src: url("../assets/fonts/Roboto/RobotoMono-Thin.ttf");
}
