
.large-centered-area {
  margin: auto;
  width: 700px;
}
.medium-centered-area {
  margin: auto;
  width: 500px;
}
.small-centered-area {
  margin: auto;
  width: 320px;
}

.panel {
  padding: 10px;
  border: $border-light;
  box-shadow: $shadow-frame;
  background: $bg-panel;
  font-size: $fs-body;

  .panel-header {
    border-bottom: $border-normal;

    .enbiggen {
      font-size: $fs-bigger;
      font-family: roboto-bold;
      color: $fg-strong;
      margin-right: 10px;
    }
  }
}

.chooser-panel-footer {
  position: relative;
  padding: 10px 0 0;
  height: 48px;
  .action {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.form-list {
  white-space: nowrap;
  li { margin-bottom: 5px; }
  li:last-child { margin-bottom: 0; }
  label { display: inline-block; }

  &.label-size-6 label  { width: 6em; }
  &.label-size-10 label { width: 10em; }
  &.label-size-16 label { width: 16em; }

  &.input-size-6 input  { width: 6em; }
  &.input-size-12 input { width: 12em; }
  &.input-size-14 input { width: 14em; }
}

.full-page-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 1000px;

  .body {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 108px;
    background-color: $bg-body-darker;
    border: $border-light;
    box-shadow: $shadow-overlay;
  }

  .footer {
    position: fixed;
    bottom: 50px;
    left: 54px;
    right: 54px;
    height: 32px;
    padding: 10px;
    text-align: right;
    border: $border-light;
    box-shadow: $shadow-overlay;
    background-color: $bg-body-even-darker;
  }

}
