
.character-view {
  .portrait-frame {
    position: absolute;
    right: 20px;
    top: 20px;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    box-shadow: $shadow-portrait;
    img { height:300px; width:300px; }
  }
  .equipment-frame {
    position: absolute;
    right: 20px;
    top: 340px;
    bottom: 20px;
    width: 300px;
    box-sizing: border-box;
    box-shadow: $shadow-frame;
    border: $border-normal;
    background-color: rgba(0,0,0,0.666);
  }
  .info-frame {
    position: absolute;
    top: 20px;
    bottom: 60px;
    right: 340px;
    left: 20px;
    box-sizing: border-box;
    box-shadow: $shadow-frame;
    border: $border-normal;
    background-color: rgba(0,0,0,0.5);
  }
  .actions-frame {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 340px;
    height: 35px;
    padding: 5px 8px;
    text-align: right;
    box-sizing: border-box;
    box-shadow: $shadow-frame;
    border: $border-normal;
    background-color: rgba(0,0,0,0.5);
  }
  .info-content {
    padding: 5px 10px;
  }

  h2 {
    font-size: $fs-bigger;
    margin-right: 8px;
  }

  .top-row {
    display: flex;

    border-bottom: $border-normal;
    min-width: 500px;

    .attr {
      font-size: $fs-small;
      margin-right: 5px;
      color: $fg-weak;
    }
    .section {
      display: flex;
      align-items: flex-end;
    }
  }

  .name-section {
    flex-grow: 1;
  }

  // I don't think these colors are used anywhere else.
  .energy-section {
    margin-right: 15px;
    .fg-energy-0 { color: rgb(33,39,42) !important; }
    .fg-energy-1 { color: rgb(78, 106, 120) !important; }
    .fg-energy-2 { color: rgb(95, 152, 181) !important; }
  }

  .health-section {
    .attr { color: inherit; }
    .health-word { opacity: 0.75; }
    .health-value {
      margin: 0;
      font-family: roboto-bold;
    }
  }

  .list-row {
    display: flex;
    flex-wrap: wrap;
  }

  .attributes {
    width: 190px;
    margin: 10px;
    dt { width: 5em; }
  }
  .aspect-list {
    margin: 10px;
    width: 180px;
    dt {
      opacity: 0.75;
      width: 5em;
    }
    .level {
      margin-right: 5px;
      font-family: roboto-bold;
    }
    .strength {
      font-size: $fs-tiny;
      color: $fg-weak;
    }
  }

  .sex-description { margin-top:10px; }
}
