
.event-content {
  font-size: $fs-big;

  .click-advance {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    user-select: none;
    z-index: calc(#{$z-event-frame} + 10);
  }

  .event-text-frame {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
    padding: 30px 40px;
    font-size: $fs-bigger;
    border: $border-light;
    box-shadow: $shadow-frame;
    background-color: $bg-panel;
    z-index: $z-event-frame;

    .footer {
      position: absolute;
      top: 78px;
      left: 10px;
      right: 10px;
      height: 32px;
      line-height: 30px;
      text-align: right;
      z-index: calc(#{$z-event-frame} + 1);
    }
  }

  .event-text-speaker {
    position: absolute;
    bottom: 151px;
    right: 8px;
    height: 20px;
    line-height: 21px;
    padding: 2px 20px;
    border: $border-normal;
    background-color: $bg-body;
    font-family: roboto-bold;
    z-index: calc(#{$z-event-frame} + 10);
  }
  .event-text-speaker.player   { color:$fg-player-quote;   }
  .event-text-speaker.other    { color:$fg-other-quote;    }
  .event-text-speaker.narrator { color:$fg-narrator-quote; }

  .event-text-actions {
    position: absolute;
    bottom: 12px;
    left: 12px;
    right: 12px;
    height: 20px;
    line-height: 20px;
    padding: 0 5px;
    text-align: right;
    font-size: $fs-small;
    background-color: rgba(0, 0, 0, 0.33);
    z-index: calc(#{$z-event-frame} + 20);
  }

  .chooser-frame { margin: 10px; }

  .chooser-centered-panel {
    margin: 50px auto;
    width: 820px;
    height: 580px;
    border: $border-light;
    box-shadow: $shadow-frame;
    background-color: $bg-overpanel;
  }
  .chooser-centered-footer {
    position: relative;
    height: 60px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 100px;

    .action {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }

  .selection-content {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .selection {
      position: relative;
      margin-bottom: 20px;
    }
    .selection:last-child { margin:0; }

    .selection a {
      height: 50px;
      width: 400px;
      line-height: 50px;
      background-color: rgba(60,50,56,0.8);
      box-shadow: $shadow-frame;
      &:active {
        box-shadow: $shadow-inset-button;
      }
    }

    .selection a.with-badges { line-height: 40px; }

    .badges {
      position: absolute;
      bottom: -10px;
      right: 5px;
      font-size: $fs-small;
      opacity: 0.5;
    }
    .badge { margin-left: 5px; }
    .badge.badge-player { color: $fg-player-quote; }
    .badge.badge-other  { color: $fg-other-quote;  }
  }

  .center-image-frame {
    position: absolute;
    bottom: 172px;
    left: 0;
    right: 0;
    z-index: calc(#{$z-event-frame} + 2);
  }
  .center-image {
    margin: 0 auto;
    height: 70vh;
    width: 50vh;
    background-position: center;
    background-size: cover;
    box-shadow: $shadow-frame;
    border: $border-light;
  }
}

.other-quote    { color:$fg-other-quote;    }
.player-quote   { color:$fg-player-quote;   }
.narrator-quote { color:$fg-narrator-quote; }
