
#minionListView.full {
  position: absolute;
  top: 31px;
  bottom: 0;
  left: 0;
  right: 0;

  background-image: url('../../resources/backgrounds/bg-minion-list.png');
  background-position: center;
  background-size: cover;

  .minion-frame {
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
    &:hover { transform: scale(1.1); }
  }
}

#minionListView.for-plan {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 660px;
}

#minionListView {

  .minion-list {
    margin-top: 30px;
    text-align: center;
  }
  .minion-frame {
    width: 600px;
    margin: 40px auto;
  }

  .back-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: $bg-body-even-darker;
    box-shadow: $shadow-frame;
    border-bottom: $border-normal;
    z-index: 100;
    .back-button {
      position: relative;
      top: 5px;
      left: 5px;
      padding: 0 20px;
    }
  }
}

.minion-frame {
  position: relative;
  height: 70px;
  border: $border-light;
  box-shadow: $shadow-overlay;
  background-color: $bg-body-even-darker;
  padding: 10px;
  padding-right: 100px;
  box-sizing: border-box;

  .portrait-frame {
    position: absolute;
    right: 10px;
    top: -20px;
    height: 80px;
    width: 80px;
    box-shadow: $shadow-portrait;
    img { height:80px; width:80px; }
  }

  .top-row {
    display: flex;
    border-bottom: $border-light;

    .attr {
      font-size: $fs-small;
      margin-right: 5px;
      color: $fg-weak;
    }
    .section {
      display: flex;
      align-items: flex-end;
    }

    .name { margin-right: 5px; }
    .name-section { min-width: 327px; }
    .health-section .attr { color: inherit; }
    .health-word { opacity: 0.75; }
    .health-value { font-family: roboto-bold; }
  }

  .lower-row { text-align: left; }
}
