
#planView {
  .projects {
    margin: 10px;
    padding: 10px;
    border: $border-light;
  }

  .current-frame {
    margin: 5px;
    padding: 5px;
    border: $border-light;

  }

  .lower-frame {
    display: flex;
    margin: 5px;
    padding: 5px;
    border: $border-light;
  }

  .available-projects {
    border-right: $border-light;
    padding-right: 5px;
  }
  .available-project {
    border: $border-transparent;
    padding: 2px 10px;
    height: 30px;
    line-height: 26px;
    box-sizing: border-box;
    cursor: pointer;
  }
  .available-project.selected {
    border: $border-normal;
  }

  .selected-project {
    margin: 10px;
  }

  .minion-select-frame {
    position: absolute;
    top: 10vh;
    width: 100%;
    z-index: calc(#{$z-overlay} + 1);
  }
  .minion-select-panel {
    margin: auto;
    width: 800px;
    height: 80vh;
    background-color: $bg-overlay-content;
    border: $border-light;
    box-shadow: $shadow-overlay;
    overflow: hidden;
  }
  .modal-cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $bg-overlay-frame;
    z-index: $z-overlay;
  }
}
