
#planView {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 1000px;

  background-image: url('../../resources/backgrounds/bg-minion-list.png');
  background-position: center;
  background-size: cover;

  .plan-left-panel {
    position: fixed;
    bottom: 88px;
    left: 20px;
    right: 650px;
    top: 20px;
    min-width: 300px;
    padding: 10px;
    background-color: $bg-body-darker;
    box-shadow: $shadow-frame;
    border: $border-light;
    overflow: hidden;
    z-index: $z-plan-left;
  }

  .plan-footer {
    position: fixed;
    bottom: 30px;
    left: 30px;
    right: 660px;
    min-width: 280px;
    padding: 10px;
    text-align: right;
    background-color: $bg-body-even-darker;
    border: $border-light;
    box-shadow: $shadow-frame;
    z-index: calc(#{$z-plan-left} + 1);
  }

  .current-frame {
    .timeline-label {
      position: relative;
      top: 20px;
      left: 20px;
      font-size: $fs-small;
      color: $fg-old-tan;
      font-family: roboto-bold;
    }
    .timeline {
      display: flex;
      height: 20px;
      margin: 20px;
      border: $border-light;
      border-radius: 5px;
      box-shadow: $shadow-frame;
    }
    .chunk {
      width: 25%;
      border-right: $border-light;
    }
    .chunk.c1 {
      border-radius: 5px 0 0 5px;
    }
    .chunk.c4 {
      border-radius: 0 5px 5px 0;
      border-right: none;
    }
    .chunk.on {
      border: none;
      background-color: $bg-timeline-chunk;
      box-shadow: $shadow-timeline-chunk;
    }

    .in-progress-label {
      margin-left: 20px;
      font-size: $fs-small;
      color: $fg-old-tan;
      font-family: roboto-bold;
    }
    .in-progress {
      margin-left: 40px;
      margin-bottom: 20px;

      .nothing {
        font-size: $fs-tiny;
        color: $fg-very-weak;
      }
      .item {
        position: relative;
        height: 30px;
        line-height: 30px;
        margin-right: 40px;
        margin-top: 5px;
        padding: 0 15px;
        box-sizing: content-box;
        background-color: rgba(0,0,0,0.5);
        border: $border-light;
        border-radius: 5px;
        box-shadow: $shadow-frame;
        z-index: 10;
      }
      .name {
        position: absolute;
        z-index: 12;
      }
      .cancel-button {
        float: right;
        color: $fg-very-weak;
        font-family: roboto-bold;
      }
      .cancel-button:hover, .cancel-button:focus {
        color: $fg-warning;
      }
      .progress {
        position: absolute;
        left: 0;
        height: 30px;
        border-radius: 3px;
        z-index: 11;
        box-shadow: $shadow-progress-bar;
      }
      .project .progress {
        background-color: $bg-progress-bar;
      }
    }
  }

  .available-action-categories {
    display: flex;
    padding: 10px;
    background-color: $bg-body-even-darker;
    border: $border-very-light;
    box-shadow: $shadow-frame;
    a { margin-right: 10px; }
  }
  .available-actions {
    margin: 20px 10px;
  }
  .available-actions .description {
    padding: 0 0 10px 20px;
    font-size: $fs-small;
    color: $fg-weak;
  }

  .excuse { color: $fg-warning; }

  .minion-frame .role-select {
    .role-link {
      color: $fg-weak;
      margin-right: 5px;
    }
    .role-link:focus { border:none; color:$fg-weak; }
    .role-link:hover { border:none; color:$fg-body; }
    .role-link:active { border:none; color:$fg-strong; }
    .role-link.selected { color:$fg-strong; }
    .role-link:last-child { margin-right: 0; }
  }

  .minion-frame.taken {
    opacity: 0.5;
    .role-select { display: none; }
  }

}
