#reportView {

  .report-frame {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 108px;
    background-color: $bg-body-darker;
    opacity: 0.90;
    border: $border-light;
    box-shadow: $shadow-overlay;
  }
  .footer {
    position: fixed;
    bottom: 50px;
    left: 54px;
    right: 54px;
    height: 32px;
    padding: 10px;
    text-align: right;
    border: $border-light;
    box-shadow: $shadow-overlay;

    background-color: $bg-body-even-darker;
  }

}
