#reportView {
  h2 { font-size: $fs-bigger; }

  .report-frame {
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 108px;
    background-color: $bg-body-darker;
    border: $border-light;
    box-shadow: $shadow-overlay;
  }
  .footer {
    position: fixed;
    bottom: 50px;
    left: 54px;
    right: 54px;
    height: 32px;
    padding: 10px;
    text-align: right;
    border: $border-light;
    box-shadow: $shadow-overlay;
    background-color: $bg-body-even-darker;
  }

  .projects {
    margin: 30px;
    margin-bottom: 50px;
  }

  .minion-frame {
    position: relative;
    border: $border-light;
    box-shadow: $shadow-frame;
    margin: 20px;
    margin-bottom: 30px;
    padding: 10px;
    padding-right: 160px;
    min-height: 130px;
    background-color: rgba(0,0,0,0.25);
  }
  .portrait-frame {
    position: absolute;
    right: -10px;
    top: -10px;
    height: 150px;
    width: 150px;
    box-shadow: $shadow-portrait;
    img { height:150px; width:150px; }
  }

  .minion-name {
    color: $fg-strong;
    font-size: $fs-big;
  }

  .story-row { margin-bottom: 20px; }
  .notifications-frame { margin: 10px; }
}
