
#summonMinionResult {
  background-image: url('../../data/image-resources/backgrounds/summon-result.png');
  background-position: center;
  background-size: cover;

  .story {
    padding: 20px;
    margin-bottom: 20px;
  }

  .experience {
    margin: 10px;
    padding: 15px;

    background-color: $bg-body-even-darker;
    border: $border-light;
    box-shadow: $shadow-frame;

    .title {
      font-size: $fs-big;
      color: $fg-strong;
      margin-bottom: 10px;
      border-bottom: $border-normal;
    }
  }
}

#summonMinionDialog {
  table { width:100%; }

  tr.category:first-child td {
    padding-top: 0
  }
  tr.category td {
    padding-top: 10px;
    border-bottom: $border-normal;
  }
  tr.action td { padding: 5px 0; }
  td.description  { width:100%; }
}

.consent-badge {
  margin: 0 10px;
  cursor: pointer;
}

.consent-level-rape {
  color: $fg-consent-rape;
  border-color: transparentize($fg-consent-rape, 0.75);
 }

.consent-level-reluctant {
  color: $fg-consent-reluctant;
  border-color: transparentize($fg-consent-reluctant, 0.75);
 }

.consent-level-consent {
  color: $fg-consent-consent;
  border-color: transparentize($fg-consent-consent, 0.75);
 }

.consent-level-enthusiastic {
  color: $fg-consent-enthusiastic;
  border-color: transparentize($fg-consent-enthusiastic, 0.75);
 }

.consent-details { width: 300px; }
.consent-details dt { width: 150px; }
