#savedGames {

  .saved-game {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    border: $border-light;
    box-shadow: $shadow-frame;
    background-color: rgba(250,0,250,0.01);
  }
  .saved-game:last-child {
    margin: 0;
  }
  .save-game-form {
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: $shadow-frame;
    border: $border-light;
    background-color: rgba(250,0,250,0.02);
  }
  .game-name {
    flex-grow: 1;
  }
  .note {
    font-size: $fs-huge;
    font-family: roboto-thin;
    text-align: center;
    margin-top: 50px;
  }
  label {
    margin-right: 5px;
    font-family: roboto-thin;
  }
}
