
<div class='debug-add-item medium-centered-area'>
  <div class='panel big-margin-top'>
    <div class='panel-header'>Add Item</div>

    <ul class='form-list label-size-10 margin-top'>
      <li>
        <label>Code</label>
        <input type='text' id="itemCode"/>
      </li>
      <li>
        <label>Count</label>
        <input type='text' id="itemCount"/>
      </li>
    </ul>

    <div class='actions align-right margin-top'>
      <a href='#' class='button-primary form-page-submit'>Accept</a>
    </div>
  </div>
</div>
