
.badge {
  display: inline-block;
  padding: 0 10px;
  margin-right: 10px;
  height: 20px;
  line-height: 20px;
  font-size: $fs-small;
  background-color: rgb(20,20,20);
  border: $border-normal;
  border-radius: 4px;
  box-shadow: $shadow-shallow;
}

.adjustment-badge {
  margin: 0 2px;
  &.up-1   { color: $fg-adjust-up-1;   }
  &.up-2   { color: $fg-adjust-up-2;   }
  &.up-3   { color: $fg-adjust-up-3;   }
  &.down-1 { color: $fg-adjust-down-1; }
  &.down-2 { color: $fg-adjust-down-2; }
  &.down-3 { color: $fg-adjust-down-3; }
}

.split-badge {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  font-size: $fs-small;
  color: $fg-strong;
  border-radius: 10px;
  box-shadow: $shadow-shallow;
  .head {
    padding-left: 10px;
    padding-right: 5px;
    display: inline-block;
    border-radius: 10px 0 0 10px;
  }
  .tail {
    padding-left: 5px;
    padding-right: 10px;
    display: inline-block;
    background-color: rgb(0,0,0);
    border-radius: 0 10px 10px 0;
  }
}
.split-badge {
  .head.hunting { background-color:$bg-hunting; }
  .head.foraging { background-color:$bg-foraging; }
}
