
.badge {
  display: inline-block;
  padding: 0 10px;
  margin-right: 10px;
  height: 20px;
  line-height: 20px;
  font-size: $fs-small;
  background-color: rgb(20,20,20);
  border: $border-normal;
  border-radius: 4px;
  box-shadow: $shadow-shallow;
}

.selection-badge {
  margin: 0 2px;
  &.up-1   { color: $fg-adjust-up-1;   }
  &.up-2   { color: $fg-adjust-up-2;   }
  &.up-3   { color: $fg-adjust-up-3;   }
  &.down-1 { color: $fg-adjust-down-1; }
  &.down-2 { color: $fg-adjust-down-2; }
  &.down-3 { color: $fg-adjust-down-3; }
}

.label-badge { color: $fg-weak; }

.warning-badge {
  float: left;
  position: relative;
  top: 10px;

  &.piss-warning  { color: $fg-sex-piss;  }
  &.scat-warning  { color: $fg-sex-scat;  }
  &.snuff-warning { color: $fg-sex-snuff; }
}

.consent-badge {
  cursor: pointer;
  &.consent-level-rape         { color:$fg-consent-rape;         border-color: transparentize($fg-consent-rape,         0.75); }
  &.consent-level-reluctant    { color:$fg-consent-reluctant;    border-color: transparentize($fg-consent-reluctant,    0.75); }
  &.consent-level-consent      { color:$fg-consent-consent;      border-color: transparentize($fg-consent-consent,      0.75); }
  &.consent-level-enthusiastic { color:$fg-consent-enthusiastic; border-color: transparentize($fg-consent-enthusiastic, 0.75); }
}

.split-badge {
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: $fs-small;
  color: $fg-strong;
  border-radius: 10px;
  box-shadow: $shadow-shallow;
  .head {
    padding-left: 10px;
    padding-right: 5px;
    display: inline-block;
    border-radius: 10px 0 0 10px;
  }
  .tail {
    padding-left: 5px;
    padding-right: 10px;
    display: inline-block;
    background-color: rgb(0,0,0);
    border-radius: 0 10px 10px 0;
  }
}

.badge-tooltip { margin: 5px 10px; }

.split-badge {
  .head.chaste { background-color: $bg-chaste; }
  .head.passive { background-color: $bg-passive; }
  .head.slut { background-color: $bg-slut; }
  .head.violent { background-color: $bg-violent; }

  .head.anal-averse  { background-color: $bg-anal-averse; }
  .head.anal-slut    { background-color: $bg-anal-slut; }
  .head.androphilic  { background-color: $bg-androphilic; }
  .head.androphobic  { background-color: $bg-androphobic; }
  .head.ass-obsessed { background-color: $bg-ass-obsessed; }
  .head.beast-lover  { background-color: $bg-beast-lover; }
  .head.bound        { background-color: $bg-bound; }
  .head.breeder      { background-color: $bg-breeder; }
  .head.cock-lover   { background-color: $bg-cock-lover; }
  .head.cum-lover    { background-color: $bg-cum-lover; }
  .head.deviant      { background-color: $bg-deviant; }
  .head.dominant     { background-color: $bg-dominant; }
  .head.fighting     { background-color: $bg-fighting; }
  .head.golden       { background-color: $bg-golden; }
  .head.gynephilic   { background-color: $bg-gynephilic; }
  .head.gynephobic   { background-color: $bg-gynephobic; }
  .head.masochist    { background-color: $bg-masochist; }
  .head.masterbator  { background-color: $bg-masterbator; }
  .head.milky        { background-color: $bg-milky; }
  .head.oral-lover   { background-color: $bg-oral-lover; }
  .head.oral-slut    { background-color: $bg-oral-slut; }
  .head.orgy-lover   { background-color: $bg-orgy-lover; }
  .head.perverted    { background-color: $bg-perverted; }
  .head.pussy-lover  { background-color: $bg-pussy-lover; }
  .head.pussy-slut   { background-color: $bg-pussy-slut; }
  .head.revolting    { background-color: $bg-revolting; }
  .head.sadist       { background-color: $bg-sadist; }
  .head.size-queen   { background-color: $bg-size-queen; }
  .head.stretcher    { background-color: $bg-stretcher; }
  .head.submissive   { background-color: $bg-submissive; }
  .head.tit-lover    { background-color: $bg-tit-lover; }
  .head.tit-slut     { background-color: $bg-tit-slut; }

  .head.hunting  { background-color:$bg-hunting;  }
  .head.foraging { background-color:$bg-foraging; }
  .head.oral     { background-color:$bg-oral;     }

  &.direction-down .tail { background-color: $bg-sex-down; }
}
