.chooser {
  border: $border-light;
  box-shadow: $shadow-frame;
  background-color: $bg-chooser;

  .chooser-title {
    background-color: $bg-chooser-title;
    font-size: $fs-big;
    padding: 5px;
    height: 25px;
  }
  .chooser-panel {
    display: flex;
  }
  .choice {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 5px;
    box-sizing: content-box;
    margin: 5px;
    cursor: pointer;
    border: $border-transparent;
  }
  .choice.locked {
    cursor: default;
    color: $fg-very-weak;
  }
  .choice.active {
    border: $border-normal;
    border-radius: 3px;
  }
  .choice:hover {
    color: $fg-strong;
  }
  .choice-detail {
    display: none;
    align-items: flex-end;
  }
  .choice-detail.active {
    display: flex;
  }
  .choice-detail-body {
    width: 100%;
    margin: 20px;
    padding: 5px;
    background-color: $bg-chooser-detail-body;
    box-shadow: $shadow-shallow;
    border: $border-light;
  }
}
