
#floatingFrameCover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-floating-frame;
  background-color: $bg-floating-frame;
}

#floatingFrameBoundry {
  position: absolute;
  margin: -20px;
  padding: 20px;
}

#floatingFrame {
  background-color: $bg-body-darker;
  border: $border-very-light;
  box-shadow: $shadow-overlay;
}
