@mixin bottom-frame {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 100px;
  padding: 10px;
  border: $border-light;
  box-shadow: $shadow-frame;
  background-color: $bg-panel;

  .page-footer {
    position: absolute;
    top: 78px;
    left: 10px;
    right: 10px;
    height: 32px;
    line-height: 30px;
    text-align: right;
  }
}

.paged-content-background, .full-screen-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  background-position: center;
  background-size: cover;
}

.paged-content {
  font-size: $fs-big;

  .bottom-frame { @include bottom-frame; }
  .page { display:none; }
  .page.active { display:block; }

  .click-advance {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    user-select: none;

    .page { @include bottom-frame; }
  }
}

.minion-quote { color:$fg-minion-quote; }
.player-quote { color:$fg-player-quote; }
