<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <title>Loading...</title>
    <link rel="stylesheet" type="text/css" href="../../assets/compiled/application.css">
    <script src='../init.js'></script>
  </head>
  <body class='main-loading'>
    <div class='loading'>Loading...</div>

    <div id='mainContent'></div>
    <ul id='centerAlerts'></ul>
    <ul id='sideAlerts'></ul>
    <ul id='eventAlerts'></ul>

    <div id='viewLock' class='hide'></div>
    <div id='overlayFrame' class='hide'>
      <div id='overlayTitle'>
        <a href='#' class='close-overlay'>X</a>
        <h2 class='title'>TITLE</h2>
      </div>
      <div id='overlayContent'></div>
    </div>

    <div id='backlog' class='hide'>
      <a href='#' class='close-backlog-button'>X</a>
      <div class='scrolling-panel track-parent'>
        <div class='scrolling-panel-content backlog-content'>
          <ul class='message-list'></ul>
        </div>
      </div>
    </div>

    <div id='confirmCover' class='hide'></div>
    <div id='confirmFrame' class='hide'>
      <div class='confirm'>
        <div class='message'></div>
        <div class='footer'>
          <a href='#' class='confirm-no button-warning'>No</a>
          <a href='#' class='confirm-yes button-success'>Yes</a>
        </div>
      </div>
    </div>

    <div id='floatingFrameCover' class='hide'>
      <div id='floatingFrameBoundry'>
        <div id='floatingFrame'></div>
      </div>
    </div>

    <div id='tooltipFrame' class='hide'></div>
    <div id='templates' class='hide'></div>
  </body>
</html>
