
<ul id='centerAlerts'></ul>
<ul id='sideAlerts'></ul>

<div id='viewLock' class='hide'></div>
<div id='overlayFrame' class='hide'>
  <div id='overlayTitle'>
    <a href='#' class='close-overlay'>X</a>
    <h2 class='title'>TITLE</h2>
  </div>
  <div id='overlayContent'></div>
</div>

<div id='confirmCover' class='hide'></div>
<div id='confirmFrame' class='hide'>
  <div class='confirm'>
    <div class='message'></div>
    <div class='footer'>
      <a href='#' class='confirm-no button-warning'>No</a>
      <a href='#' class='confirm-yes button-success'>Yes</a>
    </div>
  </div>
</div>
