<div id='templates' class='hide'>

  <div id='locationTemplate'>
    <div class='location-actions'>
      <a href='#' class='show-map'>Map</a>
      <a href='#' class='show-minions'>Minions</a>
    </div>
    <div class='location'>
      <h1 class='location-name'></h1>
      <div class='location-description'></div>
    </div>
  </div>

  <div id='chooserTemplate'>
    <div class='chooser-title hide'></div>
    <div class='chooser-panel'>
      <div class='chooser-left-panel'>
        <div class='scrolling-panel'>
          <div class='scrolling-panel-content'>
            <ul class='choices'></ul>
          </div>
        </div>
      </div>
      <div class='chooser-right-panel'></div>
    </div>
  </div>

</div>
