<div id='incubusOrSuccubus' class='large-centered-area panel' style='margin-top:150px'>

  <div class='big-padding no-padding-bottom'>
    The imp tells me that a few lines is all it would take to complete the sigil of summoning, though they're perhaps
    the most important as they specify what kind of demon will be brought forth. She asks me what I would prefer,
    giving me three options.
  </div>

  <ul class='big-selection-list big-padding'>

    <li class='selection button female'>
      <div class='header'>
        <span class='name name-female'>(TODO)</span>
        <span class='info'>Female Succubus</span>
      </div>
      <div class='description'>
        The succubi make nearly perfect sexual servants. They have an insatiable hunger for lust and pleasure, and will
        do absolutely anything, no matter how perverse, foul, or self destructive, to inflame the passions of those who
        summon them.
      </div>
    </li>

    <li class='selection button futa'>
      <div class='header'>
        <span class='name name-futa'>(TODO)</span>
        <span class='info'>Futa Succubus</span>
      </div>
      <div class='description'>
        While most succubi are content being perfect little fuck slaves there are some who prefer to take a more direct
        approach to having their needs satisfied. These demons have grown giant demonic cocks to better reflect their
        lustful, uninhibited natures.
      </div>
    </li>

    <li class='selection button male'>
      <div class='header'>
        <span class='name name-male'>(TODO)</span>
        <span class='info'>Male Incubus</span>
      </div>
      <div class='description'>
        The incubi are some of the most seductive creatures known to exist. It doesn't even matter what your sexuality
        is, to be in the presence of an incubus is to want to be possessed by him. Everything about him seems to say
        that you will never be as happy, as content, or as fulfilled as you would be together with him.
      </div>
    </li>

  </ul>

  <div class='background-image unresolved-image' data-image-resource='summoning'></div>

</div>
