<div id='nameAndGenderForm' class='large-centered-area panel' style='margin-top:100px;'>

  <div class='medium-centered-area big-margin-top'>
    To begin with, how would I describe my gender? And yes, I understand that although gender doesn't necessarily
    dictate how a person's body is formed, in my case it does.
  </div>

  <div class='small-centered-area panel align-center' style='margin-top:20px; margin-bottom:20px;'>
    <div id='genderButtons'></div>
  </div>

  <div class='medium-centered-area big-margin'>
    What should do call myself, and how should my minions to address me?
    <div class='fg-weak fs-small'>
      (Or I could leave this form blank to let cruel fates decide my name for me.)
    </div>
  </div>

  <div class='small-centered-area panel' style='margin-top:20px; margin-bottom:40px;'>
    <ul class='form-list label-size-6 input-size-12 margin-auto big-padding' style='width:252px;'>
      <li><label>Title</label><input type='text' id='title' class='unchanged' value='Master'/></li>
      <li><label>First Name</label><input type='text' id='firstName'/></li>
      <li><label>Last Name</label><input type='text' id='lastName'/></li>
    </ul>
  </div>

  <div class='panel-footer'>
    <a href='#' class="button-primary form-page-submit">Accept</a>
  </div>
</div>
