<div id='sexualityForm' class='large-centered-area panel' style='margin-top:100px;'>

  <div class='explain'>
    The game will use these values to determine what kind of sexual events will occur between your character and
    minions. Choosing <span class='fg-strong'>Always</span> for a gender will allow most sexual acts between the
    player and characters of that gender to happen without asking. The game will confirm actions between your player
    and minions of genders you choose <span class='fg-strong'>Maybe</span> for. Choosing <span class='fg-strong'>
    Never</span> will block most sexual content involving that gender.
  </div>

  <div class='form'>
    <div class='row'>
      <label>I like fucking men</label>
      <span id='fuckMen'></span>
    </div>
    <div class='row'>
      <label>I like fucking futas</label>
      <span id='fuckFutas'></span>
    </div>
    <div class='row'>
      <label>I like fucking women</label>
      <span id='fuckWomen'></span>
    </div>
  </div>

  <div class='explain' style='margin-bottom:20px'>
    Other facets of the player character's sexuality, especially events that involve the more extreme fetish content
    (scat, torture, snuff, etc.) will almost always be flagged and confirmed so that it can be avoided.
  </div>

  <div class='panel-footer'>
    <div class='action'><a href='#' class="button-primary form-page-submit">Accept</a></div>
  </div>
</div>
