
<div class='debug-create-minion medium-centered-area'>
  <div class='panel big-margin-top'>
    <div class='panel-header'>Set Flag</div>

    <ul class='form-list label-size-10 margin-top'>
      <li>
        <label>Code</label>
        <input type='text' id="flagCode"/>
      </li>
      <li>
        <label>Value</label>
        <input type='text' id="flagValue"/>
      </li>
    </ul>

    <div class='actions align-right margin-top'>
      <a href='#' class='button-primary form-page-submit'>Accept</a>
    </div>
  </div>
</div>
