
<div class='debug-create-minion medium-centered-area'>
  <div class='panel big-margin-top'>
    <div class='panel-header'>Create a Minion</div>

    <ul class='form-list label-size-10 margin-top'>
      <li>
        <label>Gender</label>
        <div class='gender-options'></div>
      </li>

      <li>
        <label>Species</label>
        <select class='species-select'>
          <option value='caprien'>Caprien</option>
          <option value='centaur'>Centaur</option>
          <option value='dark-elf'>Dark Elf</option>
          <option value='dragon'>Dragon</option>
          <option value='dryad'>Dryad</option>
          <option value='elf'>Elf</option>
          <option value='equian'>Equian</option>
          <option value='gnome'>Gnome</option>
          <option value='goblin'>Goblin</option>
          <option value='incubus'>Incubus</option>
          <option value='kobold'>Kobold</option>
          <option value='lupin'>Lupin</option>
          <option value='minotaur'>Minotaur</option>
          <option value='naga'>Naga</option>
          <option value='neko'>Neko</option>
          <option value='nymph'>Nymph</option>
          <option value='ogre'>Ogre</option>
          <option value='scaven' selected>Scaven</option>
          <option value='selkie'>Selkie</option>
          <option value='succubus'>Succubus</option>
          <option value='sylph'>Sylph</option>
          <option value='viera'>Viera</option>
          <option value='wood-elf'>Wood Elf</option>
        </select>
      </li>
    </ul>

    <div class='align-right'>
      <a href='#' class='button-primary form-page-submit'>Accept</a>
    </div>

  </div>
</div>
