
<div class='demo-over medium-centered-area'>
  <div class='panel' style='margin-top:200px; padding:20px'>
    <h2 class='panel-header margin-bottom' style='padding: 0 2px'>Artificer Development Build Complete</h2>
    <div class='margin-bottom'>
      You have reached the end of all the content available in this early development build of Artificer. The game is
      still a work in progress with a ton of placeholder text and features that don't seem to go anywhere or do
      anything, and probably shouldn't really even be seen by the public at all in this state. Thanks for getting this
      far through it though. I'll keep posting progress updates on my <a href="https://maldrasen.blogspot.com" target='_blank'>development blog</a>
      if you'd like to keep abreast of new features that are being included in the game.
    </div>
    <div class='margin-bottom'>
      Also, feel free to report any bugs you find or request new features on the project's GitHub page.
    </div>
    <div class='align-right'>
      &mdash; Maldrasen
    </div>
  </div>
</div>
