
<div class='demo-over medium-centered-area'>
  <div class='panel' style='margin-top:200px; padding:20px'>
    <h2 class='panel-header margin-bottom' style='padding: 0 2px'>Artificer Development Build Complete</h2>
    <div class='margin-bottom'>
      You have reached the end of all the content available in this, the very first of Artificer's early development
      builds. There isn't much content available in the game in it's current state, and only about 10% or so of the
      planned features have made it in yet. My goal though is create a dev build like this every month or so. I'll be
      posting progress updates on my <a href="https://maldrasen.blogspot.com" target='_blank'>development blog</a> if
      you'd like to keep abreast of new features that are being included in the game.
    </div>
    <div class='align-right'>
      &mdash; Maldrasen
    </div>
  </div>
</div>
