<div id='splashScreen' class='click-advance'>
  <img class='logo' src='../../assets/images/logo-full.png'>
  <div class='welcome-text'>
    Welcome to Artificer. Most of the game takes place within the keep itself, though there are many places within to
    explore and secrets to uncover. As the game progresses you will build a small army of minions to conquer this long
    cursed land. Every day you will need to plan how you will spend your time and what your minions should be doing
    with theirs. In the morning though you're free to wander the keep, interact with your minions, and do whatever else
    power mad tyrants tend to do all day.
  </div>
</div>
