.attributes {
  .physical { color:$fg-physical; }
  .personal { color:$fg-personal; }
  .mental   { color:$fg-mental;   }
  .magical  { color:$fg-magical;  }
  .loyalty  { color:$fg-loyalty;  }
  .fear     { color:$fg-fear;     }
  .lust     { color:$fg-lust;     }

  dt { opacity: 0.75; }
  dd .word { opacity: 0.75; }
  dd .value {
    display: inline-block;
    width: 1.7em;
    font-family: roboto-bold;
  }
}

.attributes.attributes-inline {
  dt {
    display: inline-block;
    float: none;
    width: auto;
    margin-right: 5px;
  }
  dd {
    display: inline-block;
    width: 50px;
  }
}
