@font-face {
  font-family: roboto-black;
  src: url("../fonts/Roboto-Black.ttf"); }

@font-face {
  font-family: roboto-bold;
  src: url("../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: roboto-medium;
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: roboto-light;
  src: url("../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: roboto-thin;
  src: url("../fonts/Roboto-Thin.ttf"); }

@font-face {
  font-family: roboto-mono-bold;
  src: url("../fonts/RobotoMono-Bold.ttf"); }

@font-face {
  font-family: roboto-mono-medium;
  src: url("../fonts/RobotoMono-Medium.ttf"); }

@font-face {
  font-family: roboto-mono;
  src: url("../fonts/RobotoMono-Regular.ttf"); }

@font-face {
  font-family: roboto-mono-light;
  src: url("../fonts/RobotoMono-Light.ttf"); }

@font-face {
  font-family: roboto-mono-thin;
  src: url("../fonts/RobotoMono-Thin.ttf"); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: content-box; }

*, *:before, *:after {
  box-sizing: inherit; }

:focus {
  outline: none; }

body {
  color: #e1e1e1;
  font-size: 10pt;
  font-family: roboto;
  background-color: #211e20;
  line-height: 1.5;
  min-width: 1000px;
  overflow-x: hidden;
  overflow-y: auto; }

a {
  color: #c8c8fa;
  text-decoration: none;
  outline: none; }

a:hover, a:focus {
  color: #e1e1fa;
  border-bottom: 1px solid #e1e1fa; }

a:active {
  color: #fafafa;
  border-bottom: 1px solid #fafafa; }

a.disabled {
  color: #c8c8fa;
  opacity: 0.3;
  border-bottom: none; }

a.no-underline:hover, a.no-underline:focus, a.no-underline:active {
  border-bottom: none; }

h1 {
  font-size: 14pt;
  font-family: roboto-bold;
  color: #fafafa; }

h2 {
  font-size: 12pt;
  font-family: roboto-medium;
  color: #fafafa; }

h3 {
  font-size: 12pt;
  font-family: roboto-bold;
  color: #fafafa; }

h4 {
  font-size: 10pt;
  font-family: roboto-bold;
  color: #fafafa; }

h5 {
  font-size: 10pt;
  font-family: roboto-medium; }

p {
  color: #e1e1e1;
  margin: 10px 0; }

p:first-child {
  margin-top: 0; }

p:last-child {
  margin-bottom: 0; }

ul {
  margin: 0; }

#logContent {
  margin: 10px;
  font-family: roboto-mono; }
  #logContent .level-debug {
    color: #8c8c8c; }
  #logContent .level-info {
    color: #9696c8; }
  #logContent .level-warning {
    color: #c89664; }
  #logContent .level-error {
    color: #fa7d7d; }
  #logContent .log-event {
    margin-top: 5px; }
    #logContent .log-event .severity {
      font-family: roboto-mono-medium;
      font-size: 80%; }
    #logContent .log-event .logger-name {
      font-family: roboto-mono-bold; }
    #logContent .log-event .payload {
      margin-left: 10px;
      font-family: monospace; }
