
// === Game Start ===
#gameTitleFrame {
  cursor: pointer;
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 0;
  top: 0;
}
#gameTitle {
  margin: auto;
  color: white;
  text-align: center;
  align-items: center;
  font-family: roboto-black;
  font-size: 250px;
  text-shadow: 5px 5px 10px black;
  user-select: none;
}

#warningFrame {
  margin: 50px auto 0;
  width: 600px;
  background-color: rgb(10,5,8);
  box-sizing: border-box;
  border: $border-light;
  box-shadow: $shadow-frame;

  .warning-image {
    background-image: url("../../resources/game-start/warning.jpg");
    background-position: center;
    background-size: cover;

    width: 370px;
    height: 600px;
    float: left;
  }
  .warning-message {
    padding: 20px;
    width: 230px;
    font-size: $fs-body;
  }
  .warning-footer {
    float: right;
    position: relative;
    top: -80px;
    right: 50px;
  }
}
