
@font-face {
  font-family: roboto-black;
  src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
  font-family: roboto-bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: roboto-medium;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: roboto-medium-italic;
  src: url("../fonts/Roboto-MediumItalic.ttf");
}

@font-face {
  font-family: roboto-regular-italic;
  src: url("../fonts/Roboto-RegularItalic.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-light;
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: roboto-thin;
  src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: roboto-mono-bold;
  src: url("../fonts/RobotoMono-Bold.ttf");
}

@font-face {
  font-family: roboto-mono-medium;
  src: url("../fonts/RobotoMono-Medium.ttf");
}

@font-face {
  font-family: roboto-mono;
  src: url("../fonts/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: roboto-mono-light;
  src: url("../fonts/RobotoMono-Light.ttf");
}

@font-face {
  font-family: roboto-mono-thin;
  src: url("../fonts/RobotoMono-Thin.ttf");
}
