
.medium-centered-area {
  margin: auto;
  width: 500px;
}
.small-centered-area {
  margin: auto;
  width: 320px;
}

.panel {
  padding: 10px;
  border: $border-light;
  box-shadow: $shadow-frame;
  background: $bg-panel;
  font-size: $fs-body;
}
.chooser-panel-footer {
  position: relative;
  padding: 10px 0 0;
  height: 48px;
  .action {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.form-list {
  white-space: nowrap;
  li { margin-bottom: 5px; }
  li:last-child { margin-bottom: 0; }
  label { display: inline-block; }

  &.label-size-6 label  { width: 6em; }
  &.label-size-10 label { width: 10em; }
  &.label-size-16 label { width: 16em; }

  &.input-size-6 input  { width: 6em; }
  &.input-size-12 input { width: 12em; }
  &.input-size-14 input { width: 14em; }

}
