
.main-loading {
  background-color: #000;
  color: #CCC;
  text-align: center;
  margin-top: 60px;
  font-size: 20pt;
  font-family: roboto-light;
}

#viewLock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin bottom-frame {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 100px;
  padding: 10px;
  border: 1px solid rgba(250,250,250,0.1);
  box-shadow: $shadow-frame;
  background-color: $bg-panel;

  .page-footer {
    position: absolute;
    top: 90px;
    left: 10px;
    right: 10px;
    height: 30px;
    line-height: 30px;
    text-align: right;
  }
}

.paged-content {
  .bottom-frame { @include bottom-frame; }
  .page { display:none; }
  .page.active { display:block; }

  .click-advance {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    user-select: none;

    .page { @include bottom-frame; }
  }
}
