
.main-loading {
  background-color: #000;
  color: #CCC;
  text-align: center;
  margin-top: 60px;
  font-size: 20pt;
  font-family: roboto-light;
}

#mainContent {
  margin: 10px;
}

#viewLock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-lock;
}

#overlayFrame {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-overlay;
  background-color: $bg-overlay-frame;

  #overlayTitle {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0 6px;
    background-color: rgba(0,0,0,0.9);
    box-shadow: $shadow-overlay;
    border: $border-normal;
    border-bottom: none;
    z-index: calc(#{$z-overlay} + 1);
  }

  #overlayContent {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 30px;
    padding: 20px;
    background-color: $bg-overlay-content;
    box-shadow: $shadow-frame;
    border: $border-light;
    border-top: none;
    overflow: auto;
    z-index: calc(#{$z-overlay} + 2);
  }

  .close-overlay {
    float: right;
    font-size: 20px;
    font-family: roboto-black;
    color: rgb(200,200,200);
  }
  .close-overlay:hover {
    border: none;
    color: rgb(250,250,250);
  }

}

.full-screen-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  background-position: center;
  background-size: cover;
}
