
.main-loading {
  background-color: #000;
  color: #CCC;
  text-align: center;
  margin-top: 60px;
  font-size: 20pt;
  font-family: roboto-light;
}

#viewLock {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(50,50,50,0.2);
}
